@import "../../../../../styles/variables";

.banner {
  background: url("../../../../../assets/img/banners/1/background.jpg") no-repeat;
  object-fit: cover;
  height: 460px;
  width: 100%;
  background-size: cover;

  .content {
    margin: 0 150px;


    .title {
      font-size: 40px;

      .titleItem {
        display: block;
      }
    }

    .button {
      background-color: $color-success;
      padding: 12px 50px;
      font-size: 24px;

      &:hover, &:active {
        background-color: $color-success-dark;
      }
    }

    .icons {

    }
  }
}